:root {

    --bg-color: bisque;

    --splash-txt:  color: rgb(76, 41, 16);
   

}


body {
    background-color: var(--bg-color);
}

.myIframe {
   text-align: center;
    width: 80%;
    height: 500px;
    
}

.myBtn {
   background-color: rgb(240, 255, 32);
  
}
.myBg {
    background-image: url(./image/060407a0003.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mySplashTxt {
   color: var(--splash-txt);
    text-shadow: 10px 10px 10px 10px whitesmoke;
    font-weight: bold;
}

.myPlaceholder {
    width: 150px;
    height: 300px;
}
.generalBg {
    background-color: var(--bg-color);
}
